[Unit]
Description=Provide host facts

[Service]
ExecStart=/usr/bin/kad --addr=:443
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
